@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #e5e7eb;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #16a34a #27272a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}
